<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-3">
        <h2>Welcome Dr.Brown</h2>
        <small>You have 1 notification and patient Timothy will be seeing you in two hours.</small>
        <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
                <span class="pull-right">
                    1:00 pm
                </span>
                <span class="label label-success">1</span> Patient Steve
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    2:00 pm
                </span>
                <span class="label label-info">2</span> Patient Timothy
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    2:45 pm
                </span>
                <span class="label label-primary">3</span> Patient Than
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    3:30 pm
                </span>
                <span class="label label-default">4</span> Patient Hannah
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    4:30 pm
                </span>
                <span class="label label-primary">5</span> Meeting
            </li>
        </ul>
    </div>
    <div class="col-sm-3" style="margin-top:8em;">
        <div class="contact-box">
            <a data-toggle="modal" data-target="#myModal5">
                <div class="col-sm-4">
                    <div class="text-center">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a2.jpg') %>">
                        <div class="m-t-xs font-bold">Steve</div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3><strong>Body Check</strong></h3>
                    <p><i class="fa fa-map-marker"></i>Riviera State 32/106</p>
                    <div>
                        <strong>1:00 PM</strong><br>
                        Normal blood pressure<br>
                        Normal sugar level<br>
                    </div>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
    <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>All form elements <small>With custom checbox and radion elements.</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="get" class="form-horizontal">
                            <div class="form-group has-success"><label class="col-sm-2 control-label">Patient's Name</label>
                                <div class="col-sm-10"><input type="text" class="form-control"></div>
                            </div>
                            <div class="hr-line-dashed"></div>
                             
                            <div class="form-group has-success"><label class="col-sm-2 control-label">DOB</label>
                                <div class="col-sm-10"><input type="text" class="form-control"></div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group has-success"><label class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10"><input type="text" class="form-control"></div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group has-success"><label class="col-sm-2 control-label">Race</label>
                                <div class="col-sm-10"><input type="text" class="form-control"></div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Allergies</label>

                                <div class="col-sm-10">
                                    <div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i> Propensity to adverse reaction to drug </label></div>
                                    <div class="i-checks"><label> <input type="checkbox" value="" disabled="" checked=""> <i></i> Propensity to adverse reaction to drug </label></div>
                                    <div class="i-checks"><label> <input type="checkbox" value="" disabled=""> <i></i> Propensity to adverse reaction to drug </label></div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group has-success"><label class="col-sm-2 control-label">Family History</label>
                                <div class="col-sm-10"><input type="text" class="form-control" value="Myocardial infarction"></div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group has-success"><label class="col-sm-2 control-label">Immunizations</label>
                                <div class="col-sm-10"><input type="text" class="form-control" value="Influenza virus vaccine"></div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Pain Scale</label>
                                <div class="col-sm-10">
                                    <div class="m-r-md inline">
                                        <input type="text" value="8" class="dial m-r" data-fgColor="#ED5565" data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 data-min="0" data-max="10" />
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-3" style="margin-top:8em;">
        <div class="contact-box">
            <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
                <div class="col-sm-4">
                    <div class="text-center">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a1.jpg') %>">
                        <div class="m-t-xs font-bold">Timothy</div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3><strong>Lower back pain</strong></h3>
                    <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                    <div>
                        <strong>2:00 PM</strong><br>
                        Diabetes Type II<br>
                        Normal blood pressure<br>
                    </div>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
    <div class="col-sm-3" style="margin-top:8em;">
        <div class="contact-box">
            <a href="<%= url_for :controller => 'appviews', :action => 'profile' %>">
                <div class="col-sm-4">
                    <div class="text-center">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a3.jpg') %>">
                        <div class="m-t-xs font-bold">Monica Smith</div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3><strong>Body Check</strong></h3>
                    <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                    <div>
                        <strong>3:00 PM</strong><br>
                        Pregnant<br>
                        Normal blood sugar<br>
                    </div>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</div>
<div class="footer">
    <div class="pull-right">
        10GB of <strong>250GB</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2015
    </div>
</div>
</div>
        </div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function() {

    setTimeout(function() {
        toastr.options = {
            closeButton: true,
            progressBar: true,
            showMethod: 'slideDown',
            timeOut: 4000
        };
        toastr.success('Responsive Admin Theme', 'Welcome to INSPINIA');

    }, 1300);

    $(".bar_dashboard").peity("bar", {
        fill: ["#1ab394", "#d7d7d7"],
        width: 100
    })

    $("#sparkline8").sparkline([5, 6, 7, 2, 0, 4, 2, 4, 5, 7, 2, 4, 12, 14, 4, 2, 14, 12, 7], {
        type: 'bar',
        barWidth: 8,
        height: '150px',
        barColor: '#1ab394',
        negBarColor: '#c6c6c6'
    });

    var updatingChart = $(".updating-chart").peity("line", { fill: '#1ab394', stroke: '#169c81', width: 64 })

    setInterval(function () {
        var random = Math.round(Math.random() * 10)
        var values = updatingChart.text().split(",")
        values.shift()
        values.push(random)

        updatingChart
                .text(values.join(","))
                .change()
    }, 1000);

    var data1 = [
        [0, 4], [1, 8], [2, 5], [3, 10], [4, 4], [5, 16], [6, 5], [7, 11], [8, 6], [9, 11], [10, 30], [11, 10], [12, 13], [13, 4], [14, 3], [15, 3], [16, 6]
    ];
    var data2 = [
        [0, 1], [1, 0], [2, 2], [3, 0], [4, 1], [5, 3], [6, 1], [7, 5], [8, 2], [9, 3], [10, 2], [11, 1], [12, 0], [13, 2], [14, 8], [15, 0], [16, 0]
    ];
    $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
        data1, data2
    ],
            {
                series: {
                    lines: {
                        show: false,
                        fill: true
                    },
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                    points: {
                        radius: 0,
                        show: true
                    },
                    shadowSize: 2
                },
                grid: {
                    hoverable: true,
                    clickable: true,
                    tickColor: "#d5d5d5",
                    borderWidth: 1,
                    color: '#d5d5d5'
                },
                colors: ["#1ab394", "#1C84C6"],
                xaxis: {
                },
                yaxis: {
                    ticks: 4
                },
                tooltip: false
            }
    );

    $(".dial").knob();
});

</script>

<% end %>